{% load static %}

<section class="footer-section">
    <footer class="navbar fixed-bottom navbar-primary bg-primary
                        text-white d-flex justify-content-center">
        <div class="mx-2">
            Serhii Ovsiuk. Starokostiantyniv, Ukraine:
            <a class="mail" href="">s.ovsiuk@gmail.com</a>
            <a href="https://github.com/s-ov/" target="_blank">
                <img src="{% static 'cv_app/images/github.png' %}" alt="git" style="width:40px; height:40px" >
            </a>
            <a href="https://www.linkedin.com/in/serhii-ovsiuk-2175251a1/" target="_blank">
                <img src="{% static 'cv_app/images/linkedin.png' %}" alt="in" style="width:40px; height:40px">
            </a>
        </div>
    </footer>
</section>