{% extends 'cv_app/base.html' %}
{% load static %}
{% block title %}About S.Ovsiuk{% endblock %}

{% block content %}

<section class="about">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8 justify-content-center">
                <div class="card" style="width: 18em; color:black;">
                    <img src="{% static 'cv_app/images/and_chr512.png' %}" class="card-img-top" alt="named_logo">
                    <div class="card-body">
                        <h2 class="card-title">Personal info</h2>
                        <p class="card-text">To get my personal info just follow the link below.</p>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'cv_info' %}" class="btn btn-primary">Learn More</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="btn btn-primary">Learn More</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{% static 'cv_app/images/ava2.jpg' %}" alt="ava2" class="img-fluid ava2">
            </div>
        </div>
    </div>
</section>

{% endblock %}